<section class="bg-gray-300">
  <div class="flex flex-wrap content-center justify-center">
      {{#each projects as |project|}}
              <div class="p-1 relative shadow-lg md:w-5/12 sm:w-10/12 h-1/4 m-2 bg-white rounded" {{on "mouseenter" this.projectTextVideoSwap}} {{on "mouseleave" this.projectTextVideoSwap}}>
                <img class="w-auto h-16 m-auto" src={{project.headerImg}}>
                <video class="projectVideoBox visible transition duration-500 opacity-100 transition-opacity w-auto m-auto" src={{project.videoUrl}} loop autoplay muted playsinline></video>
                <p class="projectTextBox invisible transition duration-500 opacity-0 transition-opacity p-2 absolute mt-16 inset-0 text-center sm:text-lg md:text-sm lg:text-xl" >{{project.desc}}</p>
              </div>
        {{/each}}
  </div>
</section>
