<div class="flex bg-blue-800 flex-col w-screen min-h-screen">
  <div class="flex justify-between items-center bg-blue-700 rounded w-full mb-1">
    <img src="../gridditLogoLarge.png" class="w-40 h-full m-2 p-1 inline-block align-middle">
    <div class="w-full flex flex-wrap items-center justify-around">
        <Griddit::TimeSelector @time=time />
        <Griddit::SubredditSelector @updateSubreddit={{this.updateSubreddit}} />
      <input type="text" name="name" class="py-2 m-2 bg-blue-200 rounded shadow" id="subInputText" placeholder=" Or Type One Here!" onchange={{action "updateSubreddit" value="target.value"}}/>
      {{#link-to "application"}}
        <FaIcon @icon="home" class='text-white fa-2x'  />
      {{/link-to}}
    </div>

  </div>
  <div class="w-full relative mt-3" id='mg-container'>
    {{#each filteredChildren as |c|}}
      <a href={{c.data.url}} data-fancybox="images" data-caption={{c.data.title}}>
        <img src={{c.data.thumbnail}} width={{mult 2 c.data.thumbnail_width}} height={{mult 2 c.data.thumbnail_height}} />
      </a>
    {{/each}}
  </div>

</div>
{{outlet}}
